/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
    margin: 0;
    font-family: Raleway,sans-serif;
    font-weight: 300;
    color: #3a485f;
}