/*:host {
    background: linear-gradient(#e0e2a4, #fefff6);
}
.navBody{
    width: 73.75rem;
    margin: 0 auto;
    height: 80px;
    overflow: hidden;
}
.item{
    display: inline-block;
    padding: 15px 15px ;
}*/